<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/images/logo-white.png">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('products') }}">Products</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                </ul>
            </nav>
                <img src="../static/images/cart.png" width="30px" height="30px">
                <img src="../static/images/menu.png" class="menu-icon"
                onclick="menutoggle()">
            </div> 
    </div>

    <div class="small-container">

        <div class="row row-2">
            <h2>All Products</h2>
            
        </div>


        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('productdetails') }}"><img src="../static/images/product-1.jpg"></a>
                <a href="{{ url_for('productdetails') }}"><h4>Red Printed T-Shirt</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
            <div class="col-4">
                <a href="{{ url_for('productdetails1') }}"><img src="../static/images/product-2.jpg"></a>
                <a href="{{ url_for('productdetails1') }}"><h4>Blue tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
            <div class="col-4">
                <a href="{{ url_for('productdetails2') }}"><img src="../static/images/product-3.jpg"></a>
                <a href="{{ url_for('productdetails2') }}"><h4>sporty tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
            <div class="col-4">
                <a href="{{ url_for('productdetails3') }}"><img src="../static/images/product-4.jpg"></a>
                <a href="{{ url_for('productdetails3') }}"><h4>sporty tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('productdetails4') }}"><img src="../static/images/product-5.jpg"></a>
                <a href="{{ url_for('productdetails4') }}"><h4>Green tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹200.00</p>
            </div>
            <div class="col-4">
                <a href="{{ url_for('productdetails5') }}"><img src="../static/images/product-6.jpg"></a>
                <a href="{{ url_for('productdetails5') }}"><h4>sporty tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
            <div class="col-4">
                <a href="{{ url_for('productdetails6') }}"><img src="../static/images/product-7.jpg"></a>
                <a href="{{ url_for('productdetails6') }}"><h4>Black tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
            <div class="col-4">
                <a href="{{ url_for('productdetails7') }}"><img src="../static/images/product-8.jpg"></a>
                <a href="{{ url_for('productdetails7') }}"><h4>sporty tshirt for men</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹400.00</p>
            </div>
        </div>
        
        </div>
    </div>

<!------------------ footer --------------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <div class="app-logo">
                    <img src="../static/images/logo-white.png">
                </div>
            </div>
            <div class="footer-col-2">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many. </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affilate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- ---------------js for toggle menu---------------- -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight == "200px"
        }
        else
        {
            MenuItems.style.maxHeight == "0px"
        }
    }
</script>
</body>

</html>