<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Display Webcam Stream</title>

    <style>
        h1 {
            font-family: sans-serif;
            color: #333;
        }
        body {
            margin: 50px;
        }
        #container {
            margin: 0px auto;
            width: 660px;
            height: 500px;
            border: 10px #333 solid;
        }
        
    </style>
</head>
<body>
    <h1>Display Webcam Stream</h1>
    <div id="container">
        <video autoplay="true" id="videoElement"></video>
    </div>

    <script>
        let video = document.querySelector("#videoElement")

        if(navigator.mediaDevices.getUserMedia){
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream){
                video.srcObject = stream;
            })
            .catch(function (error){
                console.log("Something went wrong!");
            })
        }
        else
        {
            console.log("getUserMedia not supported!");
        }
    </script>
</body>
</html>